*{margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
    .cabecalho {
        background-color: #424E61;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }


   
   
   


.cabecalho-imagem{
    width: 15%;
}
.cabecalho-lista-item{
    display: inline-flex;
    margin:0 16px;
    font-size: 24px;
    justify-content: space-around;




}


.escola-imagem{
    width: 25%;


}


.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
}


.estudante-imagem{
    width: 95px;
}


.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
.estudante-div{
    text-align: center;
    padding: 95px;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.rodape{
    background-color: black;
    text-align: center;
}


.rodape-imagem{
    height: 60px;
    padding: 12px 0;


}
